In [3]:
!pip install pandasql

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (from pandasql) (2.0.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (from pandasql) (2.2.2)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.11/dist-packages (from pandasql) (2.0.41)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas->pandasql) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas->pandasql) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas->pandasql) (2025.2)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy->pandasql) (3.2.3)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy->pandasql) (4.14.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas->pandasql) (1.17.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26773 sha256=c08e9ea580c47803bcb0a71d48e3ee94cf9212f8bc6de2f8d17c657f6e69de94
  Stored in directory: /root/.cache/pip/wheels/68/5d/a5/edc271b998f909801d7956959f699b976cc9896075dc47c153
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [4]:
import os
import pandas as pd
from pandasql import sqldf
mysql = lambda q: sqldf(q, globals())

bike = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/SQL/bike_dataset.csv')
orders = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/SQL/orders.csv')
customers = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/SQL/customers.csv')
employees = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/SQL/employees.csv')
ds_2020 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/SQL/DS_JobsSalaries_2020.csv')
ds_2021 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/SQL/DS_JobsSalaries_2021.csv')

기본키
- 테이블은 각각 하나의 기본키를 가짐
- NULL값을 허용하지 않음

외래키
- JOIN으로 다른 테이블과 관계를 맺는 경우, 다른 테이블의 기본키를 참고하는 컬럼

In [5]:
# orderId가 기본키가 됨
mysql("""

SELECT *
FROM orders
LIMIT 10

""")

,orderId,orderDate,requiredDate,shippedDate,status,customerId,price,comments
0,100,2020-01-06,2020-01-13,2020-01-10,Shipped,363,1022383,None
1,101,2020-01-09,2020-01-18,2020-01-11,Shipped,128,1054901,Check on availability.
2,102,2020-01-10,2020-01-18,2020-01-14,Shipped,181,549478,None
3,103,2020-01-29,2020-02-07,2020-02-02,Shipped,121,5021895,None
4,104,2020-01-31,2020-02-09,2020-02-01,Shipped,141,4020620,None
5,105,2020-02-11,2020-02-21,2020-02-12,Shipped,145,5395921,None
6,106,2020-02-17,2020-02-24,2020-02-21,Shipped,278,5215181,None
7,107,2020-02-24,2020-03-03,2020-02-26,Shipped,131,2229262,Difficult to negotiate with customer. We need ...
8,108,2020-03-03,2020-03-12,2020-03-08,Shipped,385,5100122,None
9,109,2020-03-10,2020-03-19,2020-03-11,Shipped,486,2583314,Customer requested that FedEx Ground is used f...

In [6]:
# customerId가 기본키, employeesId가 외래키가 됨
mysql("""

SELECT *
FROM customers
LIMIT 10

""")

,customerId,customerName,phone,birthday,address,city,postalCode,country,creditLimit,employeesId
0,103,Unai Bustinza,40.32.2555,1992. 2. 2,"54, rue Royale",Nantes,44000,France,21000,1001
1,112,Igor Bubnjic,7025551838,1992. 7. 17,8489 Strong St.,Las Vegas,83030,USA,71800,1001
2,114,Gideon Jung,03 9520 4555,1994. 9. 12,636 St Kilda Road,Melbourne,3004,Australia,117300,1001
3,119,Alberto Aquilani,40.67.8555,1984. 7. 7,"67, rue des Cinquante Otages",Nantes,44000,France,118200,1001
4,121,Nicola Strambelli,07-98 9555,1988. 9. 6,Erling Skakkes gate 78,Stavern,4110,Norway,81700,1001
5,124,Ziguy Badibanga,4155551450,1991. 11. 26,5677 Strong St.,San Rafael,97562,USA,210500,1001
6,125,Henrico Drost,(26) 642-7555,1987. 1. 21,ul. Filtrowa 68,Warszawa,01-012,Poland,0,1001
7,128,Philipe Sampaio,+49 69 66 90 2555,1994. 11. 11,Lyonerstr. 34,Frankfurt,60528,Germany,59700,1001
8,129,Fabian Delph,6505555787,1989. 11. 21,5557 North Pendale Street,San Francisco,94217,USA,64600,1001
9,131,Theodor Gebre Selassie,2125557818,1986. 12. 24,897 Long Airport Avenue,NYC,10022,USA,114900,1001

In [7]:
# employeesId가 기본키가 됨
mysql("""

SELECT *
FROM employees
LIMIT 10

""")

   employeesId    name       jobTitle  level
0         1001   Peter  Sales Manager      3
1         1002  Martin       Marketer      2
2         1003    Jeff  Sales Manager      3
3         1004   Steve  Sales Manager      1
4         1005   Barry       Marketer      4

JOIN

한 개 이상의 테이블과 테이블을 서로 연결하는 기법

- INNER: 교집합
- LETF: 왼쪽 테이블 기준
- RIGHT: 오른쪽 테이블 기준

In [8]:
# 2개의 테이블 합치기
mysql("""

SELECT *
FROM orders AS o
JOIN customers AS c
ON o.customerId = c.customerId

""")

,orderId,orderDate,requiredDate,shippedDate,status,customerId,price,comments,customerId,customerName,phone,birthday,address,city,postalCode,country,creditLimit,employeesId
0,100,2020-01-06,2020-01-13,2020-01-10,Shipped,363,1022383,None,363,Adrian,6035558647,1987. 1. 31,2304 Long Airport Avenue,Nashua,62005,USA,114200,1004
1,101,2020-01-09,2020-01-18,2020-01-11,Shipped,128,1054901,Check on availability.,128,Philipe Sampaio,+49 69 66 90 2555,1994. 11. 11,Lyonerstr. 34,Frankfurt,60528,Germany,59700,1001
2,102,2020-01-10,2020-01-18,2020-01-14,Shipped,181,549478,None,181,Andy Kawaya,2125551500,1996. 8. 23,2678 Kingston Rd.,NYC,10022,USA,76400,1002
3,103,2020-01-29,2020-02-07,2020-02-02,Shipped,121,5021895,None,121,Nicola Strambelli,07-98 9555,1988. 9. 6,Erling Skakkes gate 78,Stavern,4110,Norway,81700,1001
4,104,2020-01-31,2020-02-09,2020-02-01,Shipped,141,4020620,None,141,Adam Gyurcso,(91) 555 94 44,1991. 3. 6,"C/ Moralzarzal, 86",Madrid,28034,Spain,227600,1001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321,421,2022-05-29,2022-06-06,None,In Process,124,763910,Custom shipping instructions were sent to ware...,124,Ziguy Badibanga,4155551450,1991. 11. 26,5677 Strong St.,San Rafael,97562,USA,210500,1001
322,422,2022-05-30,2022-06-11,None,In Process,157,584944,None,157,Wesley Verhoek,2155551555,1986. 9. 25,7586 Pompton St.,Allentown,70267,USA,100600,1002
323,423,2022-05-30,2022-06-05,None,In Process,314,859773,None,314,Renaud Emond,(02) 5554 67,1991. 12. 5,Rue Joseph-Bens 532,Bruxelles,B-1180,Belgium,79900,1004
324,424,2022-05-31,2022-06-08,None,In Process,141,2931030,None,141,Adam Gyurcso,(91) 555 94 44,1991. 3. 6,"C/ Moralzarzal, 86",Madrid,28034,Spain,227600,1001
325,425,2022-05-31,2022-06-07,None,In Process,119,4162344,None,119,Alberto Aquilani,40.67.8555,1984. 7. 7,"67, rue des Cinquante Otages",Nantes,44000,France,118200,1001

In [9]:
# 3개의 테이블 합치기

mysql("""

SELECT *
FROM orders AS o
JOIN customers AS c
ON o.customerId = c.customerId
JOIN employees AS e
ON c.employeesId = e.employeesId

 """)

,orderId,orderDate,requiredDate,shippedDate,status,customerId,price,comments,customerId,customerName,...,address,city,postalCode,country,creditLimit,employeesId,employeesId,name,jobTitle,level
0,100,2020-01-06,2020-01-13,2020-01-10,Shipped,363,1022383,None,363,Adrian,...,2304 Long Airport Avenue,Nashua,62005,USA,114200,1004,1004,Steve,Sales Manager,1
1,101,2020-01-09,2020-01-18,2020-01-11,Shipped,128,1054901,Check on availability.,128,Philipe Sampaio,...,Lyonerstr. 34,Frankfurt,60528,Germany,59700,1001,1001,Peter,Sales Manager,3
2,102,2020-01-10,2020-01-18,2020-01-14,Shipped,181,549478,None,181,Andy Kawaya,...,2678 Kingston Rd.,NYC,10022,USA,76400,1002,1002,Martin,Marketer,2
3,103,2020-01-29,2020-02-07,2020-02-02,Shipped,121,5021895,None,121,Nicola Strambelli,...,Erling Skakkes gate 78,Stavern,4110,Norway,81700,1001,1001,Peter,Sales Manager,3
4,104,2020-01-31,2020-02-09,2020-02-01,Shipped,141,4020620,None,141,Adam Gyurcso,...,"C/ Moralzarzal, 86",Madrid,28034,Spain,227600,1001,1001,Peter,Sales Manager,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321,421,2022-05-29,2022-06-06,None,In Process,124,763910,Custom shipping instructions were sent to ware...,124,Ziguy Badibanga,...,5677 Strong St.,San Rafael,97562,USA,210500,1001,1001,Peter,Sales Manager,3
322,422,2022-05-30,2022-06-11,None,In Process,157,584944,None,157,Wesley Verhoek,...,7586 Pompton St.,Allentown,70267,USA,100600,1002,1002,Martin,Marketer,2
323,423,2022-05-30,2022-06-05,None,In Process,314,859773,None,314,Renaud Emond,...,Rue Joseph-Bens 532,Bruxelles,B-1180,Belgium,79900,1004,1004,Steve,Sales Manager,1
324,424,2022-05-31,2022-06-08,None,In Process,141,2931030,None,141,Adam Gyurcso,...,"C/ Moralzarzal, 86",Madrid,28034,Spain,227600,1001,1001,Peter,Sales Manager,3
325,425,2022-05-31,2022-06-07,None,In Process,119,4162344,None,119,Alberto Aquilani,...,"67, rue des Cinquante Otages",Nantes,44000,France,118200,1001,1001,Peter,Sales Manager,3

In [10]:
# LEFT 조인으로 합치기

mysql("""

SELECT *
FROM orders AS o
LEFT JOIN customers AS c
ON o.customerId = c.customerId
ORDER BY o.customerId

""")

,orderId,orderDate,requiredDate,shippedDate,status,customerId,price,comments,customerId,customerName,phone,birthday,address,city,postalCode,country,creditLimit,employeesId
0,123,2020-05-20,2020-05-29,2020-05-22,Shipped,103,1457144,None,103,Unai Bustinza,40.32.2555,1992. 2. 2,"54, rue Royale",Nantes,44000,France,21000,1001
1,298,2021-09-27,2021-10-05,2021-10-01,Shipped,103,606678,None,103,Unai Bustinza,40.32.2555,1992. 2. 2,"54, rue Royale",Nantes,44000,France,21000,1001
2,345,2021-11-25,2021-12-01,2021-11-26,Shipped,103,167614,None,103,Unai Bustinza,40.32.2555,1992. 2. 2,"54, rue Royale",Nantes,44000,France,21000,1001
3,124,2020-05-21,2020-05-29,2020-05-25,Shipped,112,3264198,Customer very concerned about the exact color ...,112,Igor Bubnjic,7025551838,1992. 7. 17,8489 Strong St.,Las Vegas,83030,USA,71800,1001
4,278,2021-08-06,2021-08-16,2021-08-09,Shipped,112,3334788,None,112,Igor Bubnjic,7025551838,1992. 7. 17,8489 Strong St.,Las Vegas,83030,USA,71800,1001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321,243,2021-04-26,2021-05-03,2021-04-28,Shipped,495,627660,None,495,Konstantinos Fortounis,6175552555,1992. 10. 16,6251 Ingle Ln.,Boston,51003,USA,85100,1005
322,138,2020-07-07,2020-07-16,2020-07-13,Shipped,496,3207744,None,496,Sami,+64 9 5555500,1988. 12. 18,Arenales 1938 3'A',Auckland,None,New Zealand,110000,1005
323,179,2020-11-11,2020-11-17,None,Cancelled,496,2296360,Customer cancelled due to urgent budgeting iss...,496,Sami,+64 9 5555500,1988. 12. 18,Arenales 1938 3'A',Auckland,None,New Zealand,110000,1005
324,360,2021-12-16,2021-12-22,2021-12-18,Shipped,496,5216600,None,496,Sami,+64 9 5555500,1988. 12. 18,Arenales 1938 3'A',Auckland,None,New Zealand,110000,1005
325,399,2022-04-01,2022-04-12,2022-04-03,Shipped,496,3025375,None,496,Sami,+64 9 5555500,1988. 12. 18,Arenales 1938 3'A',Auckland,None,New Zealand,110000,1005

UNION

- 테이블을 세로로 붙이는 형태
- 위 테이블과 아래 테이블 컬럼명이 달라도 UNION을 적용할 수 있음
- 위 테이블과 아래 테이블 컬럼수가 다르면 UNION을 사용할 수 없음
- 위 테이블과 아래 테이블 컬럼의 데이터 타입이 서로 다르면 UNION을 사용할 수 없음

사용법

- UNION ALL: 중복
- UNION: 중복 제거

In [11]:
# 2020년 테이블과 2021년 테이블을 합치기
mysql("""

SELECT *
FROM ds_2020
UNION ALL
SELECT *
FROM ds_2021

""")

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2020,SE,FT,Data Scientist,60000,EUR,68428,GR,100,US,L
1,2020,MI,FT,Research Scientist,450000,USD,450000,US,0,US,M
2,2020,MI,FT,Data Analyst,41000,EUR,46759,FR,50,FR,L
3,2020,MI,FT,Data Engineer,65000,EUR,74130,AT,50,AT,L
4,2020,MI,FT,Data Science Consultant,103000,USD,103000,US,100,US,L
...,...,...,...,...,...,...,...,...,...,...,...
240,2021,MI,FT,Applied Machine Learning Scientist,423000,USD,423000,US,50,US,L
241,2021,MI,FT,Data Engineer,24000,EUR,28608,MT,50,MT,L
242,2021,SE,FT,Data Specialist,165000,USD,165000,US,100,US,L
243,2021,MI,FT,Principal Data Scientist,151000,USD,151000,US,100,US,L
244,2021,SE,FT,Data Science Manager,7000000,INR,94917,IN,50,IN,L

In [12]:
# 2020년 테이블과 2021년 테이블을 합치고, work_year, experience_level, job_title만 추출
mysql("""

SELECT work_year, experience_level, job_title
FROM ds_2020
UNION ALL
SELECT work_year, experience_level, job_title
FROM ds_2021
LIMIT 100

""")

    work_year experience_level                job_title
0        2020               SE           Data Scientist
1        2020               MI       Research Scientist
2        2020               MI             Data Analyst
3        2020               MI            Data Engineer
4        2020               MI  Data Science Consultant
..        ...              ...                      ...
95       2021               EN             Data Analyst
96       2021               MI          BI Data Analyst
97       2021               SE           Data Scientist
98       2021               EX             Head of Data
99       2021               EX          BI Data Analyst

[100 rows x 3 columns]

In [13]:
# 2020년 테이블과 2021년 테이블을 중복을 제거하여 합치고, work_year, experience_level, job_title만 추출
mysql("""

SELECT work_year, experience_level, job_title
FROM ds_2020
UNION ALL
SELECT work_year, experience_level, job_title
FROM ds_2021
LIMIT 100

""")

    work_year experience_level                job_title
0        2020               SE           Data Scientist
1        2020               MI       Research Scientist
2        2020               MI             Data Analyst
3        2020               MI            Data Engineer
4        2020               MI  Data Science Consultant
..        ...              ...                      ...
95       2021               EN             Data Analyst
96       2021               MI          BI Data Analyst
97       2021               SE           Data Scientist
98       2021               EX             Head of Data
99       2021               EX          BI Data Analyst

[100 rows x 3 columns]

Subquery

- JOIN과 달리 새로운 컬럼이 필요하지 않을 때 사용
- 서브 쿼리 실행 -> 메인 쿼리 실행
- 서브 쿼리 내에서는 ORDER BY 지원되지 않음

In [14]:
# 가장 작은 주문금액 확인
mysql("""

SELECT MIN(price)
FROM orders

""")

   MIN(price)
0       61545

In [15]:
# 가장 작은 주문금액인 61,545원보다 작은 한도를 가진 고객 정보 확인
mysql("""

SELECT *
FROM customers
WHERE creditLimit < 61545
""")

,customerId,customerName,phone,birthday,address,city,postalCode,country,creditLimit,employeesId
0,103,Unai Bustinza,40.32.2555,1992. 2. 2,"54, rue Royale",Nantes,44000,France,21000,1001
1,125,Henrico Drost,(26) 642-7555,1987. 1. 21,ul. Filtrowa 68,Warszawa,01-012,Poland,0,1001
2,128,Philipe Sampaio,+49 69 66 90 2555,1994. 11. 11,Lyonerstr. 34,Frankfurt,60528,Germany,59700,1001
3,144,Danny Bakker,0921-12 3555,1995. 1. 16,Berguvsvägen 8,Luleå,S-958 22,Sweden,53100,1001
4,168,Fabian Johnson,2035557845,1987. 12. 11,149 Spinnaker Dr.,New Haven,97823,USA,0,1002
5,169,Valentin Stocker,(1) 356-5555,1989. 4. 12,Estrada da saúde n. 58,Lisboa,1756,Portugal,0,1002
6,173,Younes Kaboul,6175555555,1986. 1. 4,4658 Baden Av.,Cambridge,51247,USA,43400,1002
7,198,Boban Grncarov,6175558428,1982. 8. 12,16780 Pompton St.,Brickhaven,58339,USA,23000,1002
8,206,Eugenio Corini,+612 9411 1555,1970. 7. 30,Suntec Tower Three,Singapore,38988,Singapore,0,1003
9,209,Banel Nicolita,88.60.1555,1985. 1. 7,"24, place Kléber",Strasbourg,67000,France,53800,1003
10,211,Marko Perovic,+852 2251 1555,1984. 1. 11,Bank of China Tower,Central Hong Kong,None,Hong Kong,58600,1003
11,216,Patrick,(93) 203 4555,1991. 1. 22,"Rambla de Cataluña, 23",Barcelona,8022,Spain,60300,1003
12,219,Tobias Pachonik,3105552373,1995. 1. 4,4097 Douglas Av.,Glendale,92561,USA,11000,1003
13,223,Johan Cavalli,0372-555188,1981. 9. 12,Taucherstraße 10,Cunewalde,1307,Germany,0,1003
14,233,Anderson Luis,(514) 555-8054,1988. 7. 31,43 rue St. Laurent,Montréal,H1J 1C3,Canada,48700,1003
15,237,Domenico Maietta,(91) 745 6555,1982. 8. 3,"Gran Vía, 1",Madrid,28001,Spain,0,1003
16,242,Ramazan Oezcan,61.77.6555,1984. 6. 28,1 rue Alsace-Lorraine,Toulouse,31000,France,61100,1003
17,247,Pelle Jensen,069-0555984,1992. 5. 24,Magazinweg 7,Frankfurt,60528,Germany,0,1003
18,273,Pablo Olivera,089-0877555,1987. 12. 8,Berliner Platz 43,München,80805,Germany,0,1003
19,293,Thomas Goddeeris,+41 26 425 50 01,1992. 6. 30,Rte des Arsenaux 41,Fribourg,1700,Switzerland,0,1004
20,303,Ricardo Pereira,+31 20 491 9555,1993. 10. 6,Kingsfordweg 151,Amsterdam,1043 GR,Netherlands,0,1004
21,307,Ties Evers,030-0074555,1991. 3. 14,Obere Str. 57,Berlin,12209,Germany,0,1004
22,328,Roniel,2015559350,1994. 6. 2,7476 Moss Rd.,Newark,94019,USA,43000,1004
23,333,Aitor Ocio,61-7-3844-6555,1976. 11. 28,31 Duncan St. West End,South Brisbane,4101,Australia,51600,1004
24,335,Mamadou Niang,0555-09555,1979. 10. 13,Maubelstr. 90,Brandenburg,14776,Germany,0,1004
25,344,Johann Berg Gudmundsson,+34 913 728 555,1990. 10. 27,Merchants House,Madrid,28023,Spain,59600,1004
26,347,Anilton,2155554369,1980. 7. 10,6047 Douglas Av.,Los Angeles,91003,USA,57700,1004
27,348,Manu,2967 555,1982. 8. 28,8 Johnstown Road,Cork,None,Ireland,0,1004
28,356,Edu Bedia,+27 21 550 3555,1989. 3. 23,1250 Pretorius Street,Hatfield,28,South Africa,0,1004
29,361,Chancel Mbemba,0251-555259,1994. 8. 8,Luisenstr. 48,Münster,44087,Germany,0,1004
30,362,Piotr Polczak,6175559555,1986. 8. 25,8616 Spinnaker Dr.,Boston,51003,USA,41900,1004
31,369,Frank Fahrenhorst,(1) 354-2555,1977. 9. 24,Jardim das rosas n. 32,Lisboa,1675,Portugal,0,1004
32,376,Guido Marilungo,0452-076555,1989. 8. 9,Hauptstr. 29,Bern,3012,Switzerland,0,1004
33,381,Adam Smith,(071) 23 67 2555,1991. 4. 29,"Boulevard Tirou, 255",Charleroi,B-6000,Belgium,23500,1004
34,409,Bennard Yao Kumordzi,0711-555361,1985. 3. 21,Adenauerallee 900,Stuttgart,70563,Germany,0,1004
35,443,Joost Volmer,0342-555176,1974. 3. 7,Heerstr. 22,Leipzig,4179,Germany,0,1004
36,447,Benjamin Nivet,2035554407,1977. 1. 2,2440 Pompton St.,Glendale,97561,USA,49700,1004
37,452,Tito,7675-3555,1985. 7. 11,Kirchgasse 6,Graz,8010,Austria,45300,1004
38,456,Gerson Guimaraes,2125551957,1992. 1. 7,5290 North Pendale Street,NYC,10022,USA,39800,1004
39,459,Diego Novaretti,0241-039123,1985. 5. 9,Walserweg 21,Aachen,52066,Germany,0,1004
40,465,Goncalo Paciencia,+34 913 728555,1994. 8. 1,"c/ Gobelas, 19-1 Urb. La Florida",Madrid,28023,Spain,0,1004
41,471,Claude Makelele,61-9-3844-6555,1973. 2. 18,7 Allen Street,Glen Waverly,3150,Australia,60300,1005
42,473,Mikael Ishak,+39 022515555,1993. 3. 31,20093 Cologno Monzese,Milan,None,Italy,34800,1005
43,475,Genki Omae,3105553722,1989. 12. 10,3675 Furth Circle,Burbank,94019,USA,55400,1005
44,477,Michael Gardyne,0621-08555,1986. 1. 23,Forsterstr. 57,Mannheim,68306,Germany,0,1005
45,480,Grzegorz Wojtkowiak,+7 812 293 0521,1984. 1. 26,2 Pobedy Square,Saint Petersburg,196143,Russia,0,1005
46,481,Andreas Ottl,+ 972 9 959 8555,1985. 3. 1,3 Hagalim Blv.,Herzlia,47625,Israel,0,1005
47,487,Jeroen Vanthournout,4155554312,1989. 6. 29,2793 Furth Circle,Brisbane,94217,USA,60300,1005
48,489,Raul Rusescu,(171) 555-7555,1988. 7. 9,120 Hanover Sq.,London,WA1 1DP,UK,43300,1005

단일행 서브쿼리

- 서브쿼리의 실행 결과가 항상 1건 이하인 서브쿼리
- 단일행 비교연산자(=, !=, >, < 등)와 함께 사용

In [16]:
# 가장 작은 주문금액보다 작은 한도를 가진 고객 정보 확인
mysql("""

SELECT *
FROM customers
WHERE creditLimit < (SELECT MIN(price)
                     FROM orders)
""")

,customerId,customerName,phone,birthday,address,city,postalCode,country,creditLimit,employeesId
0,103,Unai Bustinza,40.32.2555,1992. 2. 2,"54, rue Royale",Nantes,44000,France,21000,1001
1,125,Henrico Drost,(26) 642-7555,1987. 1. 21,ul. Filtrowa 68,Warszawa,01-012,Poland,0,1001
2,128,Philipe Sampaio,+49 69 66 90 2555,1994. 11. 11,Lyonerstr. 34,Frankfurt,60528,Germany,59700,1001
3,144,Danny Bakker,0921-12 3555,1995. 1. 16,Berguvsvägen 8,Luleå,S-958 22,Sweden,53100,1001
4,168,Fabian Johnson,2035557845,1987. 12. 11,149 Spinnaker Dr.,New Haven,97823,USA,0,1002
5,169,Valentin Stocker,(1) 356-5555,1989. 4. 12,Estrada da saúde n. 58,Lisboa,1756,Portugal,0,1002
6,173,Younes Kaboul,6175555555,1986. 1. 4,4658 Baden Av.,Cambridge,51247,USA,43400,1002
7,198,Boban Grncarov,6175558428,1982. 8. 12,16780 Pompton St.,Brickhaven,58339,USA,23000,1002
8,206,Eugenio Corini,+612 9411 1555,1970. 7. 30,Suntec Tower Three,Singapore,38988,Singapore,0,1003
9,209,Banel Nicolita,88.60.1555,1985. 1. 7,"24, place Kléber",Strasbourg,67000,France,53800,1003
10,211,Marko Perovic,+852 2251 1555,1984. 1. 11,Bank of China Tower,Central Hong Kong,None,Hong Kong,58600,1003
11,216,Patrick,(93) 203 4555,1991. 1. 22,"Rambla de Cataluña, 23",Barcelona,8022,Spain,60300,1003
12,219,Tobias Pachonik,3105552373,1995. 1. 4,4097 Douglas Av.,Glendale,92561,USA,11000,1003
13,223,Johan Cavalli,0372-555188,1981. 9. 12,Taucherstraße 10,Cunewalde,1307,Germany,0,1003
14,233,Anderson Luis,(514) 555-8054,1988. 7. 31,43 rue St. Laurent,Montréal,H1J 1C3,Canada,48700,1003
15,237,Domenico Maietta,(91) 745 6555,1982. 8. 3,"Gran Vía, 1",Madrid,28001,Spain,0,1003
16,242,Ramazan Oezcan,61.77.6555,1984. 6. 28,1 rue Alsace-Lorraine,Toulouse,31000,France,61100,1003
17,247,Pelle Jensen,069-0555984,1992. 5. 24,Magazinweg 7,Frankfurt,60528,Germany,0,1003
18,273,Pablo Olivera,089-0877555,1987. 12. 8,Berliner Platz 43,München,80805,Germany,0,1003
19,293,Thomas Goddeeris,+41 26 425 50 01,1992. 6. 30,Rte des Arsenaux 41,Fribourg,1700,Switzerland,0,1004
20,303,Ricardo Pereira,+31 20 491 9555,1993. 10. 6,Kingsfordweg 151,Amsterdam,1043 GR,Netherlands,0,1004
21,307,Ties Evers,030-0074555,1991. 3. 14,Obere Str. 57,Berlin,12209,Germany,0,1004
22,328,Roniel,2015559350,1994. 6. 2,7476 Moss Rd.,Newark,94019,USA,43000,1004
23,333,Aitor Ocio,61-7-3844-6555,1976. 11. 28,31 Duncan St. West End,South Brisbane,4101,Australia,51600,1004
24,335,Mamadou Niang,0555-09555,1979. 10. 13,Maubelstr. 90,Brandenburg,14776,Germany,0,1004
25,344,Johann Berg Gudmundsson,+34 913 728 555,1990. 10. 27,Merchants House,Madrid,28023,Spain,59600,1004
26,347,Anilton,2155554369,1980. 7. 10,6047 Douglas Av.,Los Angeles,91003,USA,57700,1004
27,348,Manu,2967 555,1982. 8. 28,8 Johnstown Road,Cork,None,Ireland,0,1004
28,356,Edu Bedia,+27 21 550 3555,1989. 3. 23,1250 Pretorius Street,Hatfield,28,South Africa,0,1004
29,361,Chancel Mbemba,0251-555259,1994. 8. 8,Luisenstr. 48,Münster,44087,Germany,0,1004
30,362,Piotr Polczak,6175559555,1986. 8. 25,8616 Spinnaker Dr.,Boston,51003,USA,41900,1004
31,369,Frank Fahrenhorst,(1) 354-2555,1977. 9. 24,Jardim das rosas n. 32,Lisboa,1675,Portugal,0,1004
32,376,Guido Marilungo,0452-076555,1989. 8. 9,Hauptstr. 29,Bern,3012,Switzerland,0,1004
33,381,Adam Smith,(071) 23 67 2555,1991. 4. 29,"Boulevard Tirou, 255",Charleroi,B-6000,Belgium,23500,1004
34,409,Bennard Yao Kumordzi,0711-555361,1985. 3. 21,Adenauerallee 900,Stuttgart,70563,Germany,0,1004
35,443,Joost Volmer,0342-555176,1974. 3. 7,Heerstr. 22,Leipzig,4179,Germany,0,1004
36,447,Benjamin Nivet,2035554407,1977. 1. 2,2440 Pompton St.,Glendale,97561,USA,49700,1004
37,452,Tito,7675-3555,1985. 7. 11,Kirchgasse 6,Graz,8010,Austria,45300,1004
38,456,Gerson Guimaraes,2125551957,1992. 1. 7,5290 North Pendale Street,NYC,10022,USA,39800,1004
39,459,Diego Novaretti,0241-039123,1985. 5. 9,Walserweg 21,Aachen,52066,Germany,0,1004
40,465,Goncalo Paciencia,+34 913 728555,1994. 8. 1,"c/ Gobelas, 19-1 Urb. La Florida",Madrid,28023,Spain,0,1004
41,471,Claude Makelele,61-9-3844-6555,1973. 2. 18,7 Allen Street,Glen Waverly,3150,Australia,60300,1005
42,473,Mikael Ishak,+39 022515555,1993. 3. 31,20093 Cologno Monzese,Milan,None,Italy,34800,1005
43,475,Genki Omae,3105553722,1989. 12. 10,3675 Furth Circle,Burbank,94019,USA,55400,1005
44,477,Michael Gardyne,0621-08555,1986. 1. 23,Forsterstr. 57,Mannheim,68306,Germany,0,1005
45,480,Grzegorz Wojtkowiak,+7 812 293 0521,1984. 1. 26,2 Pobedy Square,Saint Petersburg,196143,Russia,0,1005
46,481,Andreas Ottl,+ 972 9 959 8555,1985. 3. 1,3 Hagalim Blv.,Herzlia,47625,Israel,0,1005
47,487,Jeroen Vanthournout,4155554312,1989. 6. 29,2793 Furth Circle,Brisbane,94217,USA,60300,1005
48,489,Raul Rusescu,(171) 555-7555,1988. 7. 9,120 Hanover Sq.,London,WA1 1DP,UK,43300,1005

다중행 서브쿼리
- 서브쿼리 실행 결과가 여러 건인 서브 쿼리
- 다중행 비교연산자(IN, NOT IN 등)와 함께 사용

In [17]:
# 미국에 사는 고객의 주문 번호
mysql("""

SELECT orderId
FROM orders
WHERE customerId IN (SELECT CustomerId
                     FROM customers
                     WHERE country = 'USA')

""")

     orderId
0        100
1        102
2        107
3        109
4        111
..       ...
107      407
108      413
109      414
110      421
111      422

[112 rows x 1 columns]

FROM절 서브쿼리

- 데이터 추출 결과를 FROM 절에서 하나의 테이블처럼 사용하고 싶을 때
- FROM 절에 서브쿼리를 사용하면 특정 조건식을 갖는 데이터 추출결과를 테이블처럼 사용할 수 있음

In [18]:
# 고객별 마지막 제품의 구매일자
mysql("""
SELECT customerId
      , MAX(orderDate) AS max_date
FROM orders
GROUP BY 1
""")

    customerId    max_date
0          103  2021-11-25
1          112  2021-11-29
2          114  2021-11-29
3          119  2022-05-31
4          121  2021-11-05
..         ...         ...
93         486  2021-11-17
94         487  2021-02-10
95         489  2021-01-22
96         495  2021-04-26
97         496  2022-04-01

[98 rows x 2 columns]

In [19]:
# 고객별 마지막 제품의 구매일자가 현재일을 기준으로 며칠 지났는지 확인
mysql("""
SELECT *
    , CAST(julianday('now') - julianday(max_date) AS INT) AS date_diff
FROM (SELECT customerId
            , MAX(orderDate) AS max_date
      FROM orders
      GROUP BY 1) AS main
""")

    customerId    max_date  date_diff
0          103  2021-11-25       1316
1          112  2021-11-29       1312
2          114  2021-11-29       1312
3          119  2022-05-31       1129
4          121  2021-11-05       1336
..         ...         ...        ...
93         486  2021-11-17       1324
94         487  2021-02-10       1604
95         489  2021-01-22       1623
96         495  2021-04-26       1529
97         496  2022-04-01       1189

[98 rows x 3 columns]